/* main_screen.css */

.replay_area {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    left: 35px;
    height: 80vh;
}

.replay_preview{
    padding: 3px;
    border: 2px solid black;
}

.song_preview_unselected{
    padding: 3px;
    background: rgb(70, 66, 68);
    background: rgba(70, 66, 68,0.8);
    border-bottom: 1px solid;
}
.song_preview_unselected > img{
    height: 100px;
    width: 177px;
}
.song_preview_unselected *{
    opacity: 0.7;
}


.song_preview_selected{
    background: rgb(117, 131, 231);
    background: rgba(117, 131, 231,0.8);
    border-bottom: 1px solid;
}
.song_preview_selected > img{
    height: 130px;
    width: 230px;
}

.song_details {
    vertical-align: top;
    display: inline-block;
    color: white;
}

.song_name {
    font-size: large;

}

.search{
    padding-left: 25px;
}
.replay_data{
    width: 100% !important;
    padding-left: 15px;
    vertical-align: top;

}
.replay_details{
    vertical-align: top;
    display: inline-block;
}
.replay_player_name{
    font-weight: bold;
    font-size: large;
}

.replay_mods{
    float: right;
    padding-right: 50px
}
.row{
    padding-bottom: 1px;
}
.song_preview{
    color: white;
}

body {
    background: url("../../data/fail-background.png") no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}